
 .site-main-header{
    background-color: var(--theme);
    position: sticky;
    top: 0;
    z-index: 997;
 }

 .border-theme{
   border: 2px solid var(--theme);
 }

 .report-box{
    margin-bottom:  20px;
    border: 1px solid var(--theme);
    background:#EDF2F7;
    border-radius: 4px;
 }

 .mh250{
   max-height: 250px;
   min-height: 250px;
   overflow-y: auto;
   overflow-x: hidden;
 }

 .sub-box-header{
   background-color: aliceblue; 
   border-top: 1px solid var(--theme);
   border-bottom: 1px solid var(--theme);
   display: flex;
   align-items: center;
   gap: 5px;
   padding: 5px 21px;
   font-weight: bold;
 }

 .menuBar{
    background-color: var(--secondary); 
 }

 .curp{
    cursor: pointer;
 }

 .sidebar{
    top: 50px;
    background-color: var(--theme);
    padding: 130px 20px 20px 20px;
    width: 250px;
 }
 .sidebar-nav .nav-link.collapsed {
    color: #ffffff;
    background: transparent;
}
.sidebar-nav .nav-link{
    background: transparent;
}
.sidebar-nav .nav-link:hover {
    background: transparent;
    color: var(--secondary);
}
.sidebar-nav .nav-link:hover i { 
    color: var(--secondary);
}

@media (min-width: 1200px){ 
#main, #footer {
    margin-left: 250px;
}
}

.form-control{
   border: 1px solid var(--theme);
   background: transparent;
}

.form-control:focus{
   box-shadow: none;
   border: 1px solid var(--theme);
}

#myTabjustified .nav-link {
   border-right: 1px solid var(--theme)!important;
}

input[type=checkbox] {
   accent-color: var(--theme);
 }
 body{
   overflow-x: hidden;
 }

 .sidebar-nav .nav-content a{
   color:#fff;

 }

 .sidebar-nav .nav-link{
   color:#fff;
 }

 .sidebar-nav .nav-link i{
   color:#fff;
 }

 .sidebar-nav .nav-content a:hover{
   color: var(--secondary) !important;
 }

.sidebar-nav .nav-item.active .nav-link {
    color: rgb(155, 198, 83);
}

.btn-link {
   color: #233969;
   font-weight: 400;
   text-decoration: none;
}

.btn-link:hover {
   color: #293d64;
   text-decoration: underline;
}

.btn-primary,
.btn-secondary {
   background-color: #233969;
   border-color: #233969;
   color: #fff;
}

.btn-primary:hover,
.btn-secondary:hover {
   background-color: #1a2a4b;
   border-color: #1a2a4b;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-primary.focus,
.btn-secondary.focus {
   box-shadow: 0 0 0 0.2rem rgba(43, 58, 87, 0.5);
}